@import "~bootstrap";

#container-gerarurl {

}

.section-gerar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0;
}

#form-gerar-url {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;
}

#url-gerada{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;
}

#input-url {
    width: 600px;
}

#input-url-gerada {
    width: 600px;
}

#url-gerada-section{
    display: none;
}

#caracteres {
    height: 500px;
    width: 500px;
}


