{% include 'parts/header.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <section class="section-gerar">
            <div>
                <div class="row">
                    <div class="col">
                        <textarea id="caracteres" name="caracteres" placeholder="caracteres separados por vírgula(,)" class="form-control"></textarea>
                    </div>
                    <div class="col">
                        <div data-controller="embaralharAction"></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
{% include 'parts/footer.html.twig' %}
