{% include 'parts/header.html.twig' %}
{% block body %}
    <div id="container-gerarurl" class="container-fluid">
        <section id="gerar-url-section" class="section-gerar">
            <form id="form-gerar-url">
                <div class="row">
                    <div class="col">
                        <input id="input-url" name="url_original" placeholder="url original" class="form-control">
                    </div>
                    <div class="col">
                        <div data-controller="gerarUrlAction"></div>
                    </div>
                </div>
            </form>
        </section>
        <section id="url-gerada-section" class="section-gerar">
            <div id="url-gerada">
                <div class="row">
                    <div class="col">
                        <input id="input-url-gerada" name="url_gerada" placeholder="url gerada" class="form-control">
                    </div>
                    <div class="col">
                        <div data-controller="copiarUrlAction"></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
{% include 'parts/footer.html.twig' %}
