{% include 'parts/header.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col">
            <div data-controller="gerarCpfAction"></div>
        </div>
    </div>
{% endblock %}
{% include 'parts/footer.html.twig' %}
